$primary:#000;
$primary-400:#301E5F;
$success:       #6A33F8;
$danger:        #C72424;
$theme-colors:(
    "primary":    $primary,
    "primary-400":    $primary-400,
    "success":    $success,
    "danger":     $danger,
);
$body-secondary-bg:  #FAFAFA;