$spacer: 1rem;
$spacers: (
  0: 0,                   // 0px
  1: $spacer * .25,       // 4px
  2: $spacer * .5,        // 8px
  3: $spacer * .75,       // 12px
  4: $spacer * 1,         // 16px
  5: $spacer * 1.5,       // 24px
  6: $spacer * 2,         // 32px
  7: $spacer * 2.5,       // 40px
  8: $spacer * 3,         // 48px
  9: $spacer * 4,         // 64px
  10: $spacer * 5,        // 80px
);